@import "reset";

@mixin border-box {
   -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing: border-box;   /* Everything else */
}

$green1: #308241;

$green2: #8BCE94;

$green3: #16923B;

$green4: #88C873;

$green5: #6DBE4E;

$green6: #68B180;

$grey1: #9797A8;

$grey2: #D5D5E0;

$grey3: #BABAC2;

$grey4: #DBDBDF;

$grey5: #BABAC2;

$grey6: #DBDBDF;

.container {
	width: 100%;		
	margin: 0 auto;
	border: 1px solid black;

	.home_top {
		margin: 5px auto;	
		text-align: center;
		border: 1px solid black;
	}

	.login {
		width: 55%;
		border: 1px solid black;
		margin: 5px auto;	

		label:nth-of-type(2) {
			margin-left: 2%;
		}

		label, input, a {
			margin: 8px auto;
			border: 1px solid black;
		}

		a {
			text-decoration: none;
		}
	}
}
