/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Ignore the gross stuff above */
.container {
  margin: 0 auto; }
  .container .home_top {
    margin: 5px auto;
    text-align: center; }
    .container .home_top .header {
      border: 1px solid blue;
      background-color: #6DBE4E;
      font-size: 1.3em;
      padding: 5px; }
  .container .login {
    -moz-box-sizing: border-box;
    /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;
    /* Safari 3-4, also probably droppable */
    box-sizing: border-box;
    /* Everything else */
    width: 47.5%;
    margin: 20px auto;
    text-align: center; }
    .container .login input {
      margin: 10px auto; }
    .container .login label {
      font-size: 1.25em; }
    .container .login .log {
      text-decoration: none;
      -moz-box-sizing: border-box;
      /* Firefox 1, probably can drop this */
      -webkit-box-sizing: border-box;
      /* Safari 3-4, also probably droppable */
      box-sizing: border-box;
      /* Everything else */
      border: 2px solid #308241;
      border-radius: 3.5px;
      background-color: #DBDBDF;
      color: black;
      font-size: 1.15em;
      padding: 4px 30px; }
    .container .login .check_app {
      text-decoration: none;
      -moz-box-sizing: border-box;
      /* Firefox 1, probably can drop this */
      -webkit-box-sizing: border-box;
      /* Safari 3-4, also probably droppable */
      box-sizing: border-box;
      /* Everything else */
      border: 2px solid #308241;
      border-radius: 3.5px;
      background-color: #DBDBDF;
      color: black;
      font-size: 1.15em;
      background-color: #68B180;
      font-weight: bold;
      border: 3px solid #308241;
      padding: 6px; }

.menu {
  text-decoration: none;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  border: 2px solid #308241;
  border-radius: 3.5px;
  background-color: #DBDBDF;
  color: black;
  font-size: 1.15em; }

.drop_down {
  height: 100%;
  transition-duration: 1000ms; }

nav ul li:nth-of-type(1) {
  border-top: 2px solid #308241; }
nav ul li {
  height: 0;
  background-color: #6DBE4E;
  font-size: 1.3em;
  padding: 5px;
  border-bottom: 2px solid #308241;
  padding-left: 5%; }
  nav ul li a {
    color: black;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
