@import "reset";

@mixin border-box {
   -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing: border-box;   /* Everything else */
}

@mixin button {
	text-decoration: none;
	@include border-box;
	border: 2px solid $green1;
	border-radius: 3.5px;
	background-color: $grey6;
	color: black;
	font-size: 1.15em;
}

@mixin app_button {
	@include button;
	background-color: $green6;
	font-weight: bold;
	border: 3px solid $green1;
}

@mixin segment {
	background-color: $green5;
	font-size: $principal;
	padding: 5px;
}

$green1: #308241;

$green2: #8BCE94;

$green3: #16923B;

$green4: #88C873;

$green5: #6DBE4E;

$green6: #68B180;

$grey1: #9797A8;

$grey2: #D5D5E0;

$grey3: #BABAC2;

$grey4: #DBDBDF;

$grey5: #BABAC2;

$grey6: #DBDBDF;

$principal: 1.3em;

$label: 1.25em;

////// Login ////////

.container {	
	margin: 0 auto;

	.home_top {
		margin: 5px auto;	
		text-align: center;

		.header {
			border: 1px solid black;
			@include segment;
		}
	}

	.login {
		@include border-box;
		width: 47.5%;
		margin: 20px auto;
		text-align: center;	

		input {
			margin: 10px auto;
		}	

		label {
			font-size: $label;
		}

		.log {
			@include button;
			padding: 4px 30px;
		}

		.check_app {
			@include app_button;
			padding: 6px;
		}
	}
}

////// Universal Systems ///////

.top {
	// position: fixed;
}

.menu {
	cursor: pointer;
}

nav {

	ul {
		@include segment;

		li:nth-of-type(1) {
			border-top: 2px solid $green1;
		}

		li {
			margin: auto 0;
			border-bottom: 2px solid $green1;
			padding-left: 5%;

			a {
				color: black;
				text-decoration: none;
			}
		}

	}
}

