@mixin border-box {
   -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing: border-box;   /* Everything else */
}

@mixin button {
	text-decoration: none;
	@include border-box;
	border: 2px solid $green1;
	border-radius: 3.5px;
	background-color: $green2;
	color: white;
	font-size: 1.15em;
	cursor: pointer;
}

@mixin app_button {
	@include button;
	background-color: $green6;
	font-weight: bold;
	border: 3px solid $green1;
}

@mixin form_button {
	@include button;
	font-size: $option_text;
	border: 3px solid $green1;
	background-color: $green4;
}

@mixin segment {
	background-color: $green5;		
	padding: 5px;
}

@mixin nav_link {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: $label;
}

@mixin explain_p {
	font-size: $principal/$option_text;	
	line-height: 1.8em;
}

@mixin flapping_section {
	background-color: $green5;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	height: 40px;
	margin: 20px 0.5% 0 0.5%;
}

@mixin background_gradient1 {
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

$green1: #308241;

$green2: #8BCE94;

$green3: #16923B;

$green4: #88C873;

$green5: #6DBE4E;

$green6: #68B180;

$grey1: #9797A8;

$grey2: #D5D5E0;

$grey3: #BABAC2;

$grey4: #DBDBDF;

$grey5: #BABAC2;

$grey6: #DBDBDF;

$principal: 1.5em;

$label: 1.25em;

$phi: 1.618033988749894848;	

$option_text: 0.89em;

$font_a: "ff-basic-gothic-web-pro",sans-serif;

$font_b: "jaf-bernina-sans",sans-serif;

$font_c: "jaf-bernina-sans-comp",sans-serif;