@import "reset";

@mixin border-box {
   -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing: border-box;   /* Everything else */
}

@mixin button {
	text-decoration: none;
	@include border-box;
	border: 2px solid $green1;
	border-radius: 3.5px;
	background-color: $green2;
	color: white;
	font-size: 1.15em;
	cursor: pointer;
}

@mixin app_button {
	@include button;
	background-color: $green6;
	font-weight: bold;
	border: 3px solid $green1;
}

@mixin form_button {
	@include button;
	font-size: $option_text;
	border: 3px solid $grey1;
	background-color: $green4;
}

@mixin segment {
	background-color: $green5;		
	padding: 5px;
}

@mixin nav_link {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: $label;
}

@mixin explain_p {
	font-size: $principal/$option_text;	
	line-height: $principal;
}

@mixin flapping_section {
	background-color: $green5;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	// border-top: 5px solid $green2;
	min-height: 21px;
	margin: 20px 0.6%;
}

$green1: #308241;

$green2: #8BCE94;

$green3: #16923B;

$green4: #88C873;

$green5: #6DBE4E;

$green6: #68B180;

$grey1: #9797A8;

$grey2: #D5D5E0;

$grey3: #BABAC2;

$grey4: #DBDBDF;

$grey5: #BABAC2;

$grey6: #DBDBDF;

$principal: 1.5em;

$label: 1.25em;

$phi: 1.618033988749894848;	

$option_text: 0.89em;

$font_a: "ff-basic-gothic-web-pro",sans-serif;

$font_b: "jaf-bernina-sans",sans-serif;

$font_c: "jaf-bernina-sans-comp",sans-serif;

////// Universal Systems ///////

body {
	font-size: $principal / $phi;
	font-family: $font_a;
	color: white;
	background-color: $green3;
	overflow: hidden;
}

.top {
	margin: 15px auto 0 auto;
	min-height: 29px;
}

.menu, .top img, .logout {
	float: left;
}

.menu {
	@include button;
}

.top img {
	min-height: 30px;
	margin: 0px 14.3%;
}

.logout {
	@include button;
	padding: 4px 5px;
}

nav {
	@include border-box;
	width: 100%;
	height: 0;
	display: none;		

	ul {
		@include segment;
		opacity: 0;

		li {
			margin: 20px auto;
			border-bottom: 2px solid $green1;
			position: relative;

			a {
				@include nav_link;
				padding: 5px;
				margin-bottom: 10px;
			}

			a:hover {
				z-index: 3;
			}
		}
	}
}

.main {
	width: 90%;
	height: 100%;
	margin: 0 auto;	
}

h1 {
	font-size: $principal * $phi;
	font-family: $font_b;
	margin: 20px auto;
	text-align: center;
}

h2 {
	font-size: $principal;
	font-family: $font_b;
	text-align: center;
}

.message_center, .help, .products {
	clear: both;
	width: 75%;
	max-width: 250px;
	margin: 15px auto;
	border: 5px solid $green1;
	border-radius: 5px;
	min-height: 110px;


	h2 {
		@include segment;
		padding: 5px 9%;
		text-align: center;
		margin: 0 auto;
	}

	a {
		@include nav_link;
		@include button;
		display: block;
	}

	a:nth-of-type(1) {
		margin: 15px 2%;
		padding: 2px 36.035%;
		display: block;
		text-align: center;
	}

	a:nth-of-type(2) {
		margin: 0 2% 15px 2%;
		padding: 2px 3%;
		display: block;
		text-align: center;
	}
}

.bottom_wrapper {
	border: 1px solid black;
	width: 80%;
	margin: 0 auto;
	// min-height: 300px;

	.help {
		min-height: 200px;
		float: left;
		display: block;

		a:nth-of-type(1), a:nth-of-type(2) {
			padding: 5px 2%;
			margin: 15px 2%;
		}

		a:nth-of-type(3) {
			padding: 5px 15.6%;
			margin: 15px 2%;
		}

		a:nth-of-type(4) {
			padding: 5px 10%;
			margin: 15px 2%;
		}
	}

	.products {
		min-height: 150px;
		float: left;
		display: block;

		button {
		  display: block;
		  width: 100%;
		  height: 30px;
		  background-color: green;
		  color: white;
		  border: none;
		  border-bottom: 1px solid white;
		}

		.hidden {
		  display: none;
		  padding: 20px 0 0 0;
		  width: 100%;
		  height: 50px;
		  transition: all 300ms ease;
		  
		  p {
		    text-align: center;
		  }
		}
	}
}

////// Login ////////

.container {	
	margin: 0 auto;

	.home_top {
		margin: 5px auto;	
		text-align: center;

		.header {
			@include segment;

			h1 {
				width: 100%;
			}
		}
	}

	.login {
		@include border-box;
		margin: 20px auto;
		text-align: center;	

		input {
			margin: 10px auto;
		}	

		label {
			font-size: $label;
		}

		.log {
			@include button;
			padding: 4px 30px;
		}

		.check_app {
			@include app_button;
			padding: 6px;
		}
	}
}

////// Accounts ////////


.accounts {
	width: 100%;

	h1 {
		margin: 10px auto;
		width: 42%;
	}

	table {
		@include border-box;

		tr:nth-of-type(3) {
			display: none;
		}	

		th, td {
			border: 2.5px solid $green6;
			padding: 2px;
		}

		td {
			font-size: $label;
			font-family: $font_c;
			text-align: center;
		}
	}

	table:nth-of-type(2) {
		margin: 10px auto;

		th, td {
			padding: 10px;
		}
	}
}

////// Transfers ////////

.top {
	width: 73%;
}

.transfers {

	h1 {
		width: 92%;
		margin: 20px auto 0 auto;
	}

	h2 {
		width: 90%;
		margin: 20px auto;
		text-align: center;
		line-height: 1.3em;
	}

	.transfer_form {
		@include border-box;
		width: 100%;
		min-height: 190px;
		border: 3.5px solid $green6;	
		border-radius: 5px;
		padding: 10px;
		margin: 20px auto;
		font-size: $label * 0.9;	

			.transfer:not(:nth-of-type(1)) {
				margin: 22px 0;
			}

		label:nth-of-type(5) {
			padding-right: 30px;
		}


		label:nth-of-type(6) {
			padding-left: 116px;
		}

		label:nth-of-type(5), label:nth-of-type(6){
			font-size: $option_text;

			input {
				width: 15px;
				height: 15px;
			}

		}

		button {
			@include form_button;
			margin-top: 10px;
			float: right;
		}
	}
}

////// Bill Pay ////////

.bill_pay {

	h1 {
		margin: 15px 0;
	}

	h2 {
		margin: 15px 0;
	}
}

.bills {	
	width: 90%;
	max-width: 280px;
	margin: 30px auto;	
	margin-bottom: 20px;
	border: 1px solid transparent;

	.bills_regular {
		float: left;
	}
	
	.bills_expanded {	
		float: right;
	}
}

////// Alerts ////////

.account_alerts {

	h1 {
		line-height: 1.3em;
	}

	.alert_info {
		width: 85%;
		margin: 10px auto;
		@include explain_p;

		p {
			margin: 6px 0;
		}

		span {
			font-weight: bold;
			font-size: 1em;	
		}
	}

	.alerts {
		table {
			@include border-box;
			border: 2.5px solid $green6;
			margin: 10px auto;	
			width: 70%;

			th, td {
				border-bottom: 2.5px solid $green6;
				border-right: 2.5px solid $green6;
				padding: 5px;
			}

			td {
				font-size: $label;
			}
		}
	}
}

////// p2p payements ////////

.p2p_payments {
	width: 90%;
	margin: 0 auto;

	h1 {
		margin: 15px 0;
	}

	li {
		@include explain_p;	
		margin: 8px 0;
	}

	p {
		font-size: 1.1em;
		line-height: 1.6em;
		margin: 8px 0;
	}

	ul {
		margin-left: 5%;
	}

	ul:nth-of-type(2) {

		li {
			margin-left: 10%;
		}
	}

	.choice {
		text-align: center;	
		margin: 20px auto;

		button {
			@include button;	
		}

		a {
			margin: 30px 0;
			font-size: $label;
		}
	}
}

////// costumer_service ////////

.custumer_service {
	width: 85%;
	margin: 0 auto;

	h1, h2	 {
		margin: 15px 0;
	}

	ul {
		border: 2px solid $green2;
		border-radius: 5px;
		padding: 10px;
		margin: 0 auto;

		li {
			@include explain_p;

			a {	
				color: #00B2EE;
			}
		}
	}

	.messages {
		
		ul {
			width: 55%;
		}
	}
}

@media screen and (min-width: 321px) {
	.accounts {
		width: 90%;
		margin: 0 auto;

		table {
			width: 90%;
			margin: 0 auto;
			padding: 2%;
		}
	}
}

@media screen and (min-width: 390px) {
	.transfers {

		.transfer_form {
			max-width: 350px;

			label:nth-of-type(5) {
				padding-right: 0;
			}

			label:nth-of-type(6) {
				padding-left: 0;	
			}
		}
	}
}

@media screen and (min-width: 520px) {

//// Universal /////

	body {
		font-size: 92%;
	}

	.main {
		width: 80%;
		margin: 15px auto;
	}

	.menu {
		display: none;
	}

	.top {
		margin: 5px auto 5px auto;
		width: 90%;

		img {
			margin: 0 20% 0 45%;
		}
	}

	.logout {
		float: right;
		padding: 7px 20px;
	}

	.message_center {
		text-align: center;
	}

	nav {
		@include border-box;
		width: 100%;
		height: 100%;
		display: inline-block;

		ul {
			margin: 10px auto 0 auto;
			opacity: 1;
			padding: 0;
			padding-bottom: 20px;

			li {
				@include flapping_section;
				float: left;

				a {
					font-size: $label * 0.85;
				}

			}

			.page_displayed {
				display: none;
			}
		}
	}

//// Accounts ////

	.accounts {
		width: 90%;

		table {

			tr {

				th {
					font-size: 120%;
					padding: 10px;
					border: 3.5px solid $green6;
				}

				td {
					font-size: 150%;
					padding: 10px;
					border: 3.5px solid $green6;
				}
			}
		}
	}


//// Tranfers ////

	.transfers {

		.transfer_form {
			max-width: 500px;
			width: 85%;

			label:nth-of-type(5) {
				padding-right: 0;
			}

			label:nth-of-type(6) {
				padding-left: 0;	
			}

		}
	}

//// p2p payments ////

	.p2p_payments {

		h2:nth-of-type(1) {
			line-height: 1.3em;
			width: 90%;
			margin: 0 auto;
			text-align: left;
		}

		h2:nth-of-type(2) {
			margin: 10px auto 20px auto;
			text-align: center;
		}
	}
}
	
